# ── Python ──────────────────────────────────────
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# ── Django ───────────────────────────────────────
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# ── Environnement ────────────────────────────────
.env
.venv/
venv/
ENV/

# ── Éditeurs ─────────────────────────────────────
.vscode/
.idea/
*.swp
*.swo

# ── OS ───────────────────────────────────────────
.DS_Store
Thumbs.db
